<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tableName %></title>
</head>
<body>
    <table>
        <h2><%= tableName %></h2>
        <hr>
        <thead>
          <tr>
            <th>AuthorID</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(function(data) { %>
            <tr>
              <td><%= data.AuthorID %></td>
              <td><%= data.Name %></td>
              <td><%= data.Email %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
</body>
</html>