<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tableName %></title>
</head>
<body>
    <table>
        <h2><%= tableName %></h2>
        <hr>
        <thead>
          <tr>
            <th>SaleID</th>
            <th>BookID</th>
            <th>PersonID</th>
            <th>SaleDate</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(function(data) { %>
            <tr>
              <td><%= data.SaleID %></td>
              <td><%= data.BookID %></td>
              <td><%= data.PersonID %></td>
              <td><%= data.SaleDate %></td>
              <td><%= data.Price %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
</body>
</html>