<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= tableName %>
    </title>
</head>

<body>
    <table>
        <h2>
            <%= tableName %>
        </h2>
        <hr>
        <thead>
            <tr>
                <% columnName.forEach(function(data) { %>
                    <td>
                        <%= data %>
                    </td>
                <% }); %>
                <td>
                </td>
                <td>
                </td>
            </tr>
            
        </thead>
        <tbody>
            <% result.forEach(function(result) { %>
                <tr>
                    <% result.forEach(function(data){ %>
                        <td>
                            <%= data %>
                        </td>
                    <% }) %>
                    <td>
                        <form action="/delete" method="get">
                            <input type="hidden" name="tableName" value="<%= tableName %>">
                            <button type="submit" name="<%= columnName[0] %>" value="<%= result[0] %>">delete</button>
                        </form>
                    </td>
                    <td>
                        <form action="/update" method="get">
                            <input type="hidden" name="tableName" value="<%= tableName %>">
                            <button type="submit" name="<%= columnName[0] %>" value="<%= result[0] %>">update</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <form action="/insert" method="get">
        <input type="hidden" name="tableName" value="<%= tableName %>">
        <% columnName.forEach(function(columnName){ %>
            <label for="<%= columnName %>"><%= columnName %></label>
            <input type="text" name="<%= columnName %>" required>
        <% }) %>
        <input type="submit" value="insert" />
    </form>
</body>

</html>